{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}

<section class="container">
   <div class="columns is-multiline">
      <div class="column is-9 is-centered">

         <form method="post">
            {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
            <div class="is-size-5 mb-1 has-text-centered">
               <i class="fas fa-sign-in-alt mr-1"></i>Se connecter</h1>
               <div class="column is-6 is-centered">
                  <label for="inputEmail" class="label">Mail</label>
                  <div class="control has-icons-left">
                     <input type="text" value="{{ last_username }}" name="email" placeholder="Adresse e-mail" class="input" id="inputEmail" required autofocus>
                     <span class="icon is-small is-left">
                     <i class="fas fa-user-circle"></i>
                     </span>
                  </div>
                  <label for="" class="label mt-1">Mot de passe</label>
                  <div class="control has-icons-left">
                     <input type="password" id="inputPassword" name="password" placeholder="*******" class="input" required>
                     <span class="icon is-small is-left">
                     <i class="fa fa-lock"></i>
                     </span>
                  </div>
               </div>
               <button class="button is-success">
               <i class="fas fa-sign-in-alt mr-1"></i>Se connecter
               </button>
            </div>
      </div>
      <input type="hidden" name="_csrf_token"
         value="{{ csrf_token('authenticate') }}"
         >
      {#
      Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
      See https://symfony.com/doc/current/security/remember_me.html
      <div class="checkbox mb-3">
      <label>
      <input type="checkbox" name="_remember_me"> Remember me
      </label>
      </div>
      #}
   </div>
   </form>
   
   </div>
   </div>
</section>
{% endblock %}