{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}

<section class="container">
   <div class="columns is-multiline">
      <div class="column is-6 is-centered">

         <form method="post">
            <div class="is-size-5">
              <p class="is-size-5 has-text-centered">
               {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
               {% endif %}
              <i class="fas fa-sign-in-alt mr-1"></i>Se connecter</p>
              </div>
                  <label for="inputEmail" class="is-size-6">Mail</label>
                  <p class="control has-icons-left has-icons-right">
                     <input type="email" value="{{ last_username }}" name="email" placeholder="Adresse e-mail" class="input" id="inputEmail" maxlength="180" required autofocus>
                     <span class="icon is-small is-left">
                     <i class="fas fa-user-circle"></i>
                     </span>
                  </p>
                  <label for="inputPassword" class="is-size-6">Mot de passe</label>
                  <p class="control has-icons-left has-icons-right">
                     <input type="password" id="inputPassword" name="password" maxlength="180" placeholder="*******" class="input" required>
                     <span class="icon is-small is-left">
                     <i class="fa fa-lock"></i>
                     </span>
                  </p>
                  <button id="button" type="submit" class="button is-success mt-1">
                     <i class="fas fa-check mr-1"></i></i>Se connecter
                  </button>
            </div>
      </div>
      <input type="hidden" name="_csrf_token"
         value="{{ csrf_token('authenticate') }}">
      {#
      Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
      See https://symfony.com/doc/current/security/remember_me.html
      <div class="checkbox mb-3">
      <label>
      <input type="checkbox" name="_remember_me"> Remember me
      </label>
      </div>
      #}
   </div>
   </form>

   </div>
   </div>
</section>
{% endblock %}